.container {
  @apply flex justify-between items-center px-3 py-6 bg-main text-white duration-1000;
}

.sticky {
  @apply fixed w-full py-1 bg-sticky;
}

.link {
  @apply text-white hover:text-mainHover transition-colors;
}

.burger {
  @apply flex items-center justify-center mr-6 hover:text-mainHover transition-colors;
}

.authorization {
  @apply flex items-center;
}

.link {
  @apply m-2;
}

@media (max-width:1024px) {
  .container {
    padding: 12px;
    font-size: 20px;
  }
}

@media (max-width:768px) {
  .container {
    font-size: 16px;
  }
  .extraButtons {
    display: none;
  }
  .link {
    @apply my-2 mx-0;
  }
}
