.delete {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("https://res.cloudinary.com/rss-collection/image/upload/v1652999912/211651_close_round_icon_etnwxd.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
}
.delete:hover {
  background-color: rgb(255, 255, 255);
}
.taskTitle {
  width: 100%;
  word-wrap: break-word;
}
.task {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
}
.task:hover {
  background-color: rgb(230, 225, 225);
  cursor: pointer;
}
.task:hover .delete {
  opacity: 1;
  pointer-events: all;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  font-size: 16px;

  row-gap: 15px;
}
.modalTitle {
  font-weight: 500;
  font-size: 20px;
}
.modalText {
  color: rgba(0, 0, 0, 0.6);
}
.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}
.button {
  padding: 5px 10px;
  text-transform: uppercase;
}
.button:hover {
  color: white;
  background-color: rgb(72, 65, 161);
  border-radius: 4px;
}

@media (max-width:1024px) {
  .delete {
    opacity: 1;
  }
}
