.header {
  width: 100%;
  margin: 10px;
  background-color: transparent;
}
.headerButton {
  padding: 5px 15px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.board {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100vh - 150px);
  padding: 0 10px;
  font-size: 15px;
  background-color: rgb(43 60 96);
}
.boardsContainer {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
  margin: 0 10px;
  overflow-x: scroll;
  column-gap: 10px;
}
.plus {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("https://res.cloudinary.com/rss-collection/image/upload/v1652982883/172525_plus_icon_lwegye.svg");
  background-size: 100% 100%;
  filter: invert(99%) sepia(15%) saturate(198%) hue-rotate(282deg) brightness(112%) contrast(100%);
}
.buttonCreateColumn {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 10px 15px;
  text-align: start;
  color: white;
  column-gap: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
