.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px;
  color: white;
  column-gap: 20px;
  background-color: transparent;
}
.headerButton {
  padding: 5px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}
.boardName {
  font-weight: 700;
  font-size: 18px;
}
